<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-header>
    <div>
      <button md-icon-button mdTooltip="Send"
              (click)="back()">
        <md-icon class="tc-grey-700" mdTooltip="Go back">arrow_back</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="tc-grey-700" mdTooltip="Mark as read">remove_red_eye</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="tc-grey-700" mdTooltip="To trash">delete</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="tc-grey-700" mdTooltip="To spam">block</md-icon>
      </button>
    </div>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-header>
    <div layout="row" flex>
      <div class="md-headline pad-top pad-bottom">{{message.title}}</div>
      <span flex></span>
      <div class="pad-top pad-right">
        <button md-icon-button>
          <md-icon class="tc-grey-700" mdTooltip="Favourite">star_border</md-icon>
        </button>
      </div>
    </div>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-header>
    <avatar md-card-avatar align="center" [avatardata]="senderAvatar"></avatar>
    <md-card-title>From: <b>{{message.sender}}</b></md-card-title>
    <md-card-subtitle>{{message.date}}</md-card-subtitle>
    <span flex></span>
    <div class="pad-top pad-right">
      <button md-icon-button>
        <md-icon class="tc-grey-700" mdTooltip="Reply">reply</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="tc-grey-700" mdTooltip="Forward">forward</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="tc-grey-700" mdTooltip="More">more_vert</md-icon>
      </button>
    </div>
  </md-card-header>
  <md-divider></md-divider>

  <div class="md-padding">
    {{message.body}}
  </div>
</md-card>