@import "../../../theme";
body, html {
  overflow: hidden;
}
.sidepanel {
  background-color: mat-color($primary);
  flex-direction: column;
  .buttons {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}


.md-icon-logo {
  margin-right: 0;
  [dir='rtl'] & {
    margin-left: 0;
    margin-right: 0;
  }
}
