<td-layout-nav-list #navList
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-xs') | async"
                    [mode]="(media.registerQuery('gt-xs') | async) ? 'side' : 'push'"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '200px' : '100%'">

    <div td-sidenav-toolbar-content layout="row" layout-align="center center" flex>
        <span flex></span>
        <!--<md-icon layout="center" class="md-icon-logo cursor-pointer" svgIcon="assets:rsa"></md-icon>-->
        <span class="logo-font">ZenMail</span>
        <span flex></span>
    </div>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
        <button *ngIf="sidenavopened" md-icon-button class="td-menu-button"
                (click)="navList.toggle(); toggleSideNav()">
            <md-icon>fullscreen</md-icon>
        </button>
        <button *ngIf="!sidenavopened" md-icon-button class="td-menu-button"
                (click)="navList.toggle(); toggleSideNav()">
            <md-icon>fullscreen_exit</md-icon>
        </button>
        <span>
            <div flex layout="column" class="md-caption text-upper">
                <span flex>{{weekday}}</span>
                <span flex>{{month}}</span>
                <span flex>{{year}}</span>
            </div>
        </span>
        <span class="md-display-2">{{day}}</span>
        <td-search-box #searchBox class="pull-top-sm pull-bottom-sm" placeholder="Search here" flex>
        </td-search-box>
        <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
            <td-notification-count color="accent" [notifications]="4">
                <md-icon>apps</md-icon>
            </td-notification-count>
        </button>
        <md-menu #notificationsMenu="mdMenu">
            <td-menu>
                <div td-menu-header class="md-subhead">Templates</div>
                <md-nav-list dense>
                    <a md-list-item>
                        <md-icon md-list-avatar>system_update_alt</md-icon>
                        <h4 md-line><span class="text-wrap">Landing Page</span></h4>
                        <p md-line>a landing page template</p>
                    </a>
                    <md-divider></md-divider>
                    <a md-list-item>
                        <md-icon md-list-avatar>dashboard</md-icon>
                        <h4 md-line><span class="text-wrap">Dashboard</span></h4>
                        <p md-line>an ngx-charts dashboard template</p>
                    </a>
                    <md-divider></md-divider>
                    <a md-list-item>
                        <md-icon md-list-avatar>email</md-icon>
                        <h4 md-line><span class="text-wrap">Email App</span></h4>
                        <p md-line>an email app template</p>
                    </a>
                    <md-divider></md-divider>
                    <a md-list-item>
                        <md-icon md-list-avatar>view_array</md-icon>
                        <h4 md-line><span class="text-wrap">IDE Editor</span></h4>
                        <p md-line>an IDE text editor app template</p>
                    </a>
                </md-nav-list>
                <a md-button color="accent" td-menu-footer
                   href="https://github.com/Teradata/covalent-quickstart/tree/develop/src/app/templates"
                   target="_blank">
                    View Code
                </a>
            </td-menu>
        </md-menu>
        <button md-icon-button mdTooltip="Menu" [mdMenuTriggerFor]="toolbarMenu1">
            <img md-card-avatar
                 src="http://www.tania-soleil.com/wp-content/uploads/2017/09/Herman_Hesse.jpg"/>
        </button>
        <md-menu #toolbarMenu1="mdMenu">
            <td-menu>
                <md-nav-list dense>
                    <a md-list-item>
                        <h4 md-line><span class="text-wrap text-upper">Andrew Shipilo</span></h4>
                        <p md-line>admin@zenmail.space</p>
                    </a>
                    <md-divider></md-divider>
                    <button md-menu-item>
                        <md-icon>settings</md-icon>
                        <span>Settings</span>
                    </button>
                    <button md-menu-item [routerLink]="'/logout'">
                        <md-icon>exit_to_app</md-icon>
                        <span>Sign out</span>
                    </button>
                </md-nav-list>
            </td-menu>
        </md-menu>
    </div>
    <md-nav-list layout-fill flex class="sidepanel" td-sidenav-content
                 (click)="!media.query('gt-sm') && navList.close()">
        <div layout="row">
            <span flex></span>
            <button flex="70" align="center" md-raised-button color="accent" class="text-upper buttons"
                    (click)="composeMail()">
                Compose
            </button>
            <span flex></span>
        </div>

        <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
            <a md-list-item class="tc-grey-700" (click)="layout.close()">
                <md-icon class="tc-grey-700">{{item.icon}}</md-icon>
                {{item.title}}</a>
        </ng-template>
    </md-nav-list>

    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
        <md-card-header>
            <div>
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="Go back">arrow_back</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="Mark as read">remove_red_eye</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="To trash">delete</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="To spam">block</md-icon>
                </button>
            </div>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-header>
            <div layout="row" flex>
                <div class="md-headline pad-top pad-bottom">Ulysses is useless</div>
                <span flex></span>
                <div class="pad-top pad-right">
                    <button md-icon-button>
                        <md-icon class="tc-grey-700" mdTooltip="Favourite">star_border</md-icon>
                    </button>
                </div>
            </div>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-header>
            <img md-card-avatar
                 src="http://cdn8.openculture.com/wp-content/uploads/2013/09/James_Joyce_by_Alex_Ehrenzweig_1915_restored.jpg"/>
            <md-card-title>From: <b>James Joyce</b></md-card-title>
            <md-card-subtitle>Tuesday, February 2 1922 at 8:39 PM</md-card-subtitle>
            <span flex></span>
            <div class="pad-top pad-right">
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="Reply">reply</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="Forward">forward</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon class="tc-grey-700" mdTooltip="More">more_vert</md-icon>
                </button>
            </div>
        </md-card-header>
        <md-divider></md-divider>

        <div class="md-padding">
            <p>
                Halted, he peered down the dark winding stairs and called up coarsely:</p>

            <p> – Come up, Kinch! Come up, you fearful jesuit!</p>

            <p> Solemnly he came forward and mounted the round gunrest. He faced about and blessed gravely thrice the
                tower, the surrounding land and the awaking mountains.</p>

            <p> Then, catching sight of Stephen Dedalus, he bent towards him and made rapid crosses in the air, gurgling
                in his throat and shaking his head. Stephen Dedalus,</p>

            <p> displeased and sleepy, leaned his arms on the top of the staircase and looked coldly at the shaking
                gurgling face that blessed him, equine in its length, and</p>

            <p> at the light untonsured hair, grained and hued like pale oak.</p>

            <p> Buck Mulligan peeped an instant under the mirror and then covered the bowl smartly.</p>

            <p> – Back to barracks! he said sternly.</p>

            <p> He added in a preacher’s tone:</p>

            <p> – For this, O dearly beloved, is the genuine christine: body and soul and blood and ouns. Slow music,
                please. Shut your eyes, gents. One moment. A little</p>

            <p> trouble about those white corpuscles. Silence, all.</p>

            <p> He peered sideways up and gave a long slow whistle of call, then paused awhile in rapt attention, his
                even white teeth glistening here and there with gold points.</p>

            <p> Chrysostomos. Two strong shrill whistles answered through the calm.</p>

            <p> – Thanks, old chap, he cried briskly. That will do nicely. Switch off the current, will you?</p>

            <p> He skipped off the gunrest and looked gravely at his watcher, gathering about his legs the loose folds
                of his gown. The plump shadowed face and sullen oval jowl</p>

            <p> recalled a prelate, patron of arts in the middle ages. A pleasant smile broke quietly over his lips.</p>

            <p> – The mockery of it! he said gaily. Your absurd name, an ancient Greek!</p>

            <p> He pointed his finger in friendly jest and went over to the parapet, laughing to himself. Stephen
                Dedalus stepped up, followed him wearily halfway and sat down</p>

            <p> on the edge of the gunrest, watching him still as he propped his mirror on the parapet, dipped the brush
                in the bowl and lathered cheeks and neck.</p>

            <p> Buck Mulligan’s gay voice went on.</p>

            <p> – My name is absurd too: Malachi Mulligan, two dactyls. But it has a Hellenic ring, hasn’t it? Tripping
                and sunny like the buck himself. We must go to Athens.</p>
        </div>
    </md-card>
</td-layout-nav-list>